

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%;
}

.decacentral {
    top: 7vh;
    position: abs   olute;
    left: 22vw;
}
.multiple_cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    top: 12vh;
    /* position: relative; */

}
.small_cards {
    display: flex;
    flex-wrap: wrap;
}

